@font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 400;
  src: local('Gloria Hallelujah'), local('GloriaHallelujah'), url(https://fonts.gstatic.com/s/gloriahallelujah/v8/CA1k7SlXcY5kvI81M_R28YGdvEu4SOXaLqFXyFUihk4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
body, #contentCol{
    font-family: 'Gloria Hallelujah', cursive !important;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3) !important;
    background-size: 1800% 1800% !important;
    -webkit-animation: rainbow 18s ease infinite !important;
    -z-animation: rainbow 18s ease infinite !important;
    -o-animation: rainbow 18s ease infinite !important;
     animation: rainbow 18s ease infinite !important;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
._s0._5xib._5sq7._44ma._rw.img, ._3b-9 .img._54ru, ._55lt img, .fbFeedTickerBorder .img._54ru {
    content:url('http://www.rdsbzlabs.com/parrot.gif');
}
._s0._44ma.img, ._2o9m .img._54ru,._s0._7ql._ry.img, #userNav .img{
    content:url('http://cultofthepartyparrot.com/assets/sirocco.gif');
}
._2t-a._26aw._5rmj._50ti._2s1y {
    background: #03a9b5 !important;
}
._2md {
    background-image: url(https://hackupc.com/assets/img/hackupc-header.png) !important;
    background-repeat: no-repeat !important;
    background-size: 63px 42px !important;
    background-position: 0px -8px !important;
    display: block !important;
    height: 25px !important;
    outline: none !important;
    overflow: hidden !important;
    text-indent: -999px !important;
    white-space: nowrap !important;
    width: 65px !important;
}
